!!!5
html
  head
    title #{title} - Phantomer
    link(rel='stylesheet', href='/stylesheets/index.css')
    script(src="http://code.jquery.com/jquery-1.10.1.min.js")
    script(src="/sha1-min.js")
  body
    .container
      .main-content
        block content
    .footerOnFront
